{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Projets {{ status }}</h1>
        <div class="row">
            {% for projet in projects %}
                <div class="col-sm-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://via.placeholder.com/100" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ projet.name }}</h5>
                            <p class="card-text">{{ projet.description }}</p>
                            <a href="{{ path('project_show',{'slug':projet.slug}) }}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <ul>
            <li>
                <a href="{{ path('project_new') }}">Create a new project</a>
            </li>
        </ul>
    </div>
{% endblock %}
